@font-face {
  font-family: 'PangMenZhengDaoBiao';
  src: url('PangMenZhengDaoBiaoTiTiMianFeiBan-2.ttf');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
